requests~=2.27.1
numpy~=1.26.4
pandas~=2.2.2
matplotlib~=3.5.3
plotly~=5.4.0
statsmodels~=0.13.2
scikit-learn~=1.0.2
scipy~=1.7.3
arch~=4.19
prophet~=1.0.1
neuralprophet~=0.3.0
tensorflow~=2.20.0
core~=0.1.0
xlwings~=0.24.4
indexedproperty~=0.1.4
pdblp~=0.1.8
ace~=0.3.2
pycoingecko~=2.2.0
networkx~=2.6.3
quantlib~=1.31.1
dash~=2.7.0
setuptools~=72.1.0
torch~=2.5.1+cu118
sqlalchemy~=1.4.39
tqdm~=4.66.5
tiktoken~=0.8.0
mlplayground~=0.1.0
torchvision~=0.20.1
torchdiffeq~=0.2.5